body{
    background-color: rgb(179, 167, 206);
    color:rgb(0, 0, 0);
font-size: 22px;
font-family: 'Times New Roman', Times, serif;

}
 
ul {
     display: flex;
     justify-content: space-between;
     list-style-type: none;
     align-items: center;
     padding: 16px;
    }